@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @layer base {
	:root {
		
		--color-primary: #16ff00;
		--color-secondary: #222831;
		--color-tertiary: #b0b0b0;
		--color-subHeading: #717171;
		
		--color-paragraph: #4e4f5f;
		
		--color-background: #f9ecec;

		--color-background2: #faeed1;
		
		--color-background3: #f5f7f8;
	}
}  */
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 142.1 76.2% 36.3%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 142.1 76.2% 36.3%;
		--radius: 1rem;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 142.4 71.8% 29.2%;
	}
}

@layer base {
	body {
		@apply h-screen w-full font-inter bg-primary dark:text-white;
	}
	p {
		@apply text-lg leading-[26.24px] text-paragraph dark:bg-black;
	}
	h1 {
		@apply text-center text-4xl font-semibold leading-[39px] tracking-tight text-secondary sm:text-5xl  sm:leading-[55px] md:text-[60px]  md:leading-[70px] xl:text-6xl   xl:leading-[82px] dark:text-white;
	}
	h2 {
		@apply text-center font-schibsted-grotesk text-3xl font-semibold leading-[41px] text-secondary sm:text-[40px] lg:text-6xl lg:leading-[66px];
	}
	h3 {
		@apply text-center text-4xl font-semibold leading-[41.76px] text-secondary sm:text-5xl sm:leading-[58px];
	}
	h4 {
		@apply text-left text-4xl  font-bold leading-[41.76px] text-secondary;
	}
	h5 {
		@apply text-start text-xl leading-[32.8px]  text-secondary sm:leading-[37.7px] md:text-[23px] lg:text-[26px] xl:text-[22px];
	}
}

/* ::-webkit-scrollbar {
	display: none;
} */

.stroke-text {
	-webkit-text-stroke: 2px var(--color-tertiary);
}

.process-padding {
	padding: 0 calc(114px / 2);
}
.process-padding-left-0 {
	padding: 0 calc(114px / 2);
	padding-left: 0px;
}
.process-padding-right-0 {
	padding: 0 calc(114px / 2);
	padding-right: 0px;
}
