@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	:root {
		/* --color-primary: #dd4242; */
		--color-primary: #16ff00;
		--color-secondary: #222831;
		--color-tertiary: #b0b0b0;
		--color-subHeading: #717171;
		/* --color-paragraph: #b5b5b5; */
		--color-paragraph: #4e4f5f;
		/* --color-paragraph: black; */
		--color-background: #f9ecec;

		--color-background2: #faeed1;
		/* --color-background3: #fefae0; */
		--color-background3: #f5f7f8;
	}
}

@layer base {
	body {
		@apply h-screen w-full bg-white font-inter dark:bg-black dark:text-white;
	}
	p {
		@apply text-lg leading-[26.24px] text-paragraph dark:bg-black;
	}
	h1 {
		@apply text-center text-4xl font-semibold leading-[39px] tracking-tight text-secondary sm:text-5xl  sm:leading-[55px] md:text-[60px]  md:leading-[70px] xl:text-6xl   xl:leading-[82px] dark:text-white;
	}
	h2 {
		@apply text-center font-schibsted-grotesk text-3xl font-semibold leading-[41px] text-secondary sm:text-[40px] lg:text-6xl lg:leading-[66px];
	}
	h3 {
		@apply text-center text-4xl font-semibold leading-[41.76px] text-secondary sm:text-5xl sm:leading-[58px];
	}
	h4 {
		@apply text-left text-4xl  font-bold leading-[41.76px] text-secondary;
	}
	h5 {
		@apply text-start text-xl leading-[32.8px]  text-secondary sm:leading-[37.7px] md:text-[23px] lg:text-[26px] xl:text-[22px];
	}
}

/* ::-webkit-scrollbar {
	display: none;
} */

.stroke-text {
	-webkit-text-stroke: 2px var(--color-tertiary);
}

.process-padding {
	padding: 0 calc(114px / 2);
}
.process-padding-left-0 {
	padding: 0 calc(114px / 2);
	padding-left: 0px;
}
.process-padding-right-0 {
	padding: 0 calc(114px / 2);
	padding-right: 0px;
}
